.navbar {
  padding-top: 45px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: 500;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: 0.1s;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  transition: 0.1s;
  font-size: 14px;
  padding-right: 40px;
}

.navbar-light,
.navbar {
  background-color: #631aff;
}

.navbar .btn-sign-in {
  color: #ffffff;
  padding: 0.6rem 1.7rem;
  background: #8e59ff;
  border-radius: 28px;
  letter-spacing: 0.025em;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-left: 80px;
  transition: 0.25s ease-in-out;
}

.navbar .btn-sign-in:hover {
  opacity: 0.9;
  transition: 0.25s ease-in-out;
}

/*  */

/* Header */
.header {
  background-color: #631aff;
  margin-top: -1px;
  padding-top: 160px;
  padding-bottom: 140px;
}

.header .img-header {
  top: -240px;
  width: 100%;
}

.header .header-title {
  font-size: 54px;
  line-height: 68px;
  color: #ffffff;
  letter-spacing: 0.025em;
  margin-top: 34px;
}

.header .header-title span {
  background: url('/assets/images/icon/line-purple.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.header .text-top {
  width: 22%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #5113d3;
  border-radius: 35px;
  font-size: 14px;
}

.header p.text-lg {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #cebef1;
  margin-top: 32px;
  margin-bottom: 38px;
}

.header .btn-download {
  background: #ffffff;
  border-radius: 100px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 0.25s ease-in-out;
}

.header .btn-download:hover {
  opacity: 0.9;
  transition: 0.25s ease-in-out;
}

.header a.btn-download {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1b1345;
}
/*  */

.header-bottom {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 85px;
}

.about-us .about-right,
.features .features-right {
  margin-left: 24px;
}

.about-us .about-right .name,
.features .features-right .name {
  font-size: 12px;
  line-height: 18px;
  color: #a8a5b8;
}

.about-us .about-right .title,
.features .features-right .title {
  margin-top: 8px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1b1345;
}

.about-us .about-right .learn-more,
.features .features-right .learn-more {
  font-size: 12px;
  line-height: 18px;
  color: #631aff;
  text-decoration: none;
}

/* Multiple Profile & AdBlock & Multi Downloader*/
.multiple-profile {
  padding-top: 155px;
  padding-bottom: 110px;
}

.ad-block,
.multi-download {
  padding-bottom: 100px;
}

.multiple-profile .profile-left .name span,
.ad-block .profile-left .name span,
.multi-download .profile-left .name span {
  font-size: 18px;
  line-height: 26px;
  color: #631afd;
}

.multiple-profile .profile-left .title,
.ad-block .profile-left .title,
.multi-download .profile-left .title {
  font-size: 30px;
  line-height: 42px;
  color: #1b1345;
  padding-top: 20px;
  padding-bottom: 28px;
}

.multiple-profile .profile-left .description,
.ad-block .profile-left .description,
.multi-download .profile-left .description {
  font-size: 15px;
  line-height: 28px;
  color: #a8a5b8;
}

/* Bult In */
.built-in {
  padding-top: 100px;
  padding-bottom: 100px;
}

.other-feature {
  padding-bottom: 100px;
}

.built-in .built-top .name,
.other-feature .other-top .name {
  font-size: 18px;
  line-height: 26px;
  font-weight: semibold;
  color: #631afd;
  margin-bottom: 0;
}

.built-in .built-top .title,
.other-feature .other-top .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #1b1345;
  margin-bottom: 0;
}

.built-in .built-top .description,
.other-feature .other-top .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #a8a5b8;
  margin-bottom: 0;
}

.built-bottom {
  margin-top: 6px;
}

.other-bottom h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1b1345;
  margin-top: 24px;
  margin-bottom: 17px;
}

.other-bottom h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #a8a5b8;
}

/* FAQ */
.faq {
  padding-bottom: 75px;
}

.faq .bottom {
  margin-top: 75px;
}

.faq .bottom .btn-download {
  background: #631afd;
  border-radius: 100px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 0.25s ease-in-out;
}

.faq .bottom .btn-download:hover {
  transition: 0.25s ease-in-out;
  opacity: 0.9;
}

.faq .bottom .btn-ios {
  background: #e7e2f8;
  border-radius: 32px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 0.25s ease-in-out;
}

.faq .bottom .btn-ios:hover {
  transition: 0.25s ease-in-out;
  opacity: 0.9;
}

.faq .bottom a.btn-download {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.faq .bottom a.btn-ios {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1b1345;
  margin-left: 14px;
}

.faq .accordion {
  background: #ffffff;
  border-radius: 20px;
  z-index: 1;
  margin-top: 35px;
}

.faq .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.faq .accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.faq .accordion-button,
.faq .accordion-body {
  padding: 32px;
}

.faq .accordion-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1b1345;
}

.faq .accordion-button:focus {
  z-index: 3;
  border-color: black;
  outline: 0;
  box-shadow: none;
}

.faq .accordion-body {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #a8a5b8;
}

.accordion-button::after {
  background-size: 1rem;
}

/* Maps */

.map {
  width: 100%;
  height: 317px;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 317px;
  position: absolute;
}

.map .card-place {
  margin-top: 50px;
  background: #ffffff;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 27px;
  padding-right: 27px;
  z-index: 1;
}

.map .card-place p {
  margin-top: 28px;
  margin-bottom: 0 !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #a8a5b8;
}

.map .sdw-left {
  height: 317px;
  background: linear-gradient(
    89.76deg,
    #ffffff -11.25%,
    rgba(255, 255, 255, 0) 107.98%
  );
}

.map .sdw-right {
  height: 317px;
  background: linear-gradient(
    89.76deg,
    #ffffff -11.25%,
    rgba(255, 255, 255, 0) 107.98%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.place-card.place-card-large {
  display: none !important;
}

/* Footer */
footer .copy {
  width: unset;
}

footer .left span {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1b1345;
}

footer .left .dot {
  width: 4px;
  height: 4px;
  background: #8b9894;
}

footer .left .term,
footer .left .policy {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #631afd;
}

footer .left .policy {
  margin-left: 30px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .navbar-brand img {
    width: 100px;
  }

  .header .img-header {
    top: -175px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
    padding-right: 20px;
  }

  .navbar .btn-sign-in {
    font-size: 12px;
    margin-left: 40px;
    padding: 8px 16px 8px 16px;
  }

  .header {
    padding-bottom: 100px;
  }

  .header .text-top {
    width: unset;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    margin-left: 10px;
  }

  .header .header-title {
    font-size: 43px;
    line-height: 54px;
  }

  .header p.text-lg {
    font-size: 11px;
  }

  .header .img-header {
    top: -140px;
  }

  .header a.btn-download {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header a.btn-download img {
    width: 28px;
  }

  .about-left img,
  .features-left img {
    width: 100px;
  }

  .about-us .about-right,
  .features .features-right {
    margin-left: 14px;
  }

  .about-us .about-right .name,
  .features .features-right .name {
    font-size: 11px;
  }

  .about-us .about-right .title,
  .features .features-right .title {
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .about-us .about-right .learn-more,
  .features .features-right .learn-more {
    font-size: 10px;
  }

  .about-us .about-right .learn-more img,
  .features .features-right .learn-more img {
    width: 10px;
  }

  .multiple-profile .profile-left .name span,
  .ad-block .profile-left .name span,
  .multi-download .profile-left .name span,
  .built-in .built-top .name,
  .other-feature .other-top .name {
    font-size: 14px;
    font-weight: 600;
  }

  .multiple-profile .profile-left .title,
  .ad-block .profile-left .title,
  .multi-download .profile-left .title {
    font-size: 22px;
    line-height: 32px;
  }

  .multiple-profile .profile-left .description,
  .ad-block .profile-left .description,
  .multi-download .profile-left .description {
    font-size: 12px;
    line-height: 24px;
  }

  .built-in .built-top .title,
  .other-feature .other-top .title {
    font-size: 23px !important;
  }

  .built-in .built-top .description,
  .other-feature .other-top .description {
    font-size: 13px;
  }

  .other-bottom h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .other-bottom h4 {
    font-size: 12px;
    line-height: 18px;
  }

  .faq .accordion-button {
    font-size: 14px;
  }

  .faq .accordion-button,
  .faq .accordion-body {
    padding: 28px;
  }

  .faq .accordion-body {
    font-size: 12px;
  }

  .faq .top img {
    width: 80%;
  }

  .faq .bottom a.btn-download,
  .faq .bottom a.btn-ios {
    font-size: 12px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .faq .bottom a.btn-download img,
  .faq .bottom a.btn-ios img {
    width: 26px;
  }

  .faq .bottom a.btn-download span,
  .faq .bottom a.btn-ios span {
    margin-left: 4px;
  }

  .card-place {
    padding: 20px 14px 20px 14px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .card-place img {
    width: 100px;
  }

  .card-place p {
    font-size: 11px;
  }

  footer .left span {
    font-size: 11px;
  }

  footer .left .term,
  footer .left .policy {
    font-size: 11px;
  }

  footer .right img {
    width: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1280px) {
  .header .header-title {
    font-size: 44px;
  }

  .header p.text-lg {
    font-size: 14px;
  }

  .header .img-header {
    top: -207px;
  }

  .about-left img,
  .features-left img {
    width: 90px;
  }

  .about-us .about-right .title,
  .features .features-right .title {
    font-size: 16px;
    line-height: 22px;
  }

  .about-us .about-right,
  .features .features-right {
    margin-left: 18px;
  }

  .about-us .about-right .learn-more img,
  .features .features-right .learn-more img {
    width: 12px;
    margin-left: 6px;
  }

  .built-in {
    padding-top: 0px;
  }

  .built-in .built-top .title,
  .other-feature .other-top .title {
    font-size: 28px;
  }

  .other-bottom {
    padding-top: 100px;
  }
}

/* X-Large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) and (max-width: 1727px) {
  /* Navbar */
  .nav-link {
    margin-right: 60px;
  }

  .navbar .btn-sign-in {
    margin-left: 67px;
    color: #0c145a;
    padding: 16px 26px 16px 26px;
    background: #8e59ff;
    border-radius: 28px;
    letter-spacing: 0.025em;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  /*  */

  /* Header */
  .header {
    background-color: #631aff;
    margin-top: -1px;
    padding-top: 100px;
    padding-bottom: 142px;
  }

  .header .text-top {
    padding: 10px 20px 10px 20px;
    background-color: #5113d3;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
  }

  .header .header-title {
    font-size: 60px;
    line-height: 84px;
    color: #ffffff;
    letter-spacing: 0.025em;
    margin-top: 32px;
  }

  .header p.text-lg {
    margin-top: 40px;
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #cebef1;
  }

  .header .btn-download {
    padding: 20px 25px 20px 25px;
    background: #ffffff;
    border-radius: 72px;
  }

  .header .btn-download span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1b1345;
  }

  .header .img-header {
    width: 100%;
    height: auto;
    top: -195px;
  }
  /*  */

  /* Header Bottom */
  .header-bottom {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-us .about-left img {
    width: 100px;
    height: 120px;
  }

  .about-us .about-right,
  .features .features-right {
    margin-left: 24px;
  }

  .about-us .about-right .name,
  .features .features-right .name {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #a8a5b8;
  }

  .about-us .about-right .title,
  .features .features-right .title {
    margin-top: 8px;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1b1345;
  }

  .about-us .about-right .learn-more,
  .features .features-right .learn-more {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #631aff;
    text-decoration: none;
  }

  .about-us .about-right .learn-more img,
  .features .features-right .learn-more img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  /* Multiple Profile & AdBlock & Multi Downloader*/
  .multiple-profile {
    padding-top: 155px;
    padding-bottom: 110px;
  }

  .multiple-profile .profile-left .name span,
  .ad-block .profile-left .name span,
  .multi-download .profile-left .name span {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #631aff;
    font-weight: 600;
  }

  .multiple-profile .profile-left .title,
  .ad-block .profile-left .title,
  .multi-download .profile-left .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #1b1345;
    padding-top: 23px;
    padding-bottom: 32px;
  }

  .multiple-profile .profile-left .description,
  .ad-block .profile-left .description,
  .multi-download .profile-left .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #a8a5b8;
  }

  /* Bult In */
  .built-in {
    padding-top: 50px;
  }

  .built-in .built-top .name,
  .other-feature .other-top .name {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #1b1345;
    margin-bottom: 0;
  }

  .built-in .built-top .title,
  .other-feature .other-top .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #1b1345;
    margin-bottom: 0;
  }

  .built-in .built-top .description,
  .other-feature .other-top .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #a8a5b8;
    margin-bottom: 0;
  }
  /*  */

  /* other feature  */
  .other-feature {
    padding-top: 100px;
  }

  .other-feature .other-bottom {
    padding-top: 100px;
  }

  .other-bottom h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #1b1345;
    margin-top: 24px;
    margin-bottom: 17px;
  }

  .other-bottom h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #a8a5b8;
  }

  /* FAQ */
  .faq {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .faq .bottom .btn-download {
    background: #631afd;
  }

  .faq .bottom .btn-ios {
    background-color: #e7e2f8;
  }

  .faq .bottom .btn-download,
  .faq .bottom .btn-ios {
    border-radius: 72px;
    padding: 20px 25px 20px 25px;
  }

  .faq .bottom a.btn-download,
  .faq .bottom a.btn-ios {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .faq .bottom a.btn-download {
    color: #ffffff;
  }

  .faq .bottom a.btn-ios {
    color: #1b1345;
    margin-left: 14px;
  }

  .faq .bottom a.btn-download span,
  .faq .bottom a.btn-ios span {
    margin-left: 20px;
  }

  .faq .accordion {
    background: #ffffff;
    border-radius: 20px;
    margin-top: 70px;
  }

  .faq .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .faq .accordion-button:not(.collapsed) {
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }

  .faq .accordion-button,
  .faq .accordion-body {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .faq .accordion-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1b1345;
  }

  .faq .accordion-button:focus {
    z-index: 3;
    border-color: black;
    outline: 0;
    box-shadow: none;
  }

  .faq .accordion-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #a8a5b8;
  }

  /* Maps */
  .map .location {
    width: 100%;
    height: 317px;
    border: 0;
    overflow: hidden;
  }

  .map iframe {
    width: 100%;
    height: 317px;
  }

  .map .card-place p {
    font-size: 14px;
  }

  /* Footer */
  footer .left span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1b1345;
  }

  footer .left .dot {
    width: 4px;
    height: 4px;
    background: #8b9894;
    display: block;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  footer .left .term,
  footer .left .policy {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #631afd;
  }
}

@media (min-width: 1728px) {
  .header .img-header {
    width: 95%;
    top: -285px;
  }
}
